:root {
  color-scheme: dark;
}

h1::before {
  color: #f5f6fa;
  content: '# ';
  font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
}

h2 {
  border-bottom: 1px solid #f5f6fa;
}

h2::before {
  color: #f5f6fa;
  content: '## ';
  font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
}

h3 {
  border-bottom: 1px dotted #94959a;
}

h3::before {
  color: #94959a;
  content: '### ';
  font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
}

h4 {
  border-bottom: 1px dotted #5e5f63;
}

h4::before {
  color: #5e5f63;
  content: '#### ';
  font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
}

blockquote {
  margin: 0.5em 0;
  padding: 0.1em 2rem 0.1em 1.5em; // <ul> & <ol> use padding-left: 1.5em
  padding-left: calc(1.5em - 4px);
  background: #1c1b1f;
  background: linear-gradient(90deg, #1c1b1f 0%, #27262b00 100%);
  border-radius: 4px;
  border-left: 4px solid #302d36;
}
